<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EcoPOSv2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EcoPOSv2.Properties.Settings>
            <setting name="dbUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="dbPass" serializeAs="String">
                <value>123123</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>EcoPOS</value>
            </setting>
            <setting name="dbServerName" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Terminal_id" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Terminal_name" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Machine_no" serializeAs="String">
                <value>001</value>
            </setting>
            <setting name="cardlogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="servertype" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="papersize" serializeAs="String">
                <value>58MM</value>
            </setting>
            <setting name="priceeditor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vatnonvat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inventoryproductview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nonvat_registered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Trial" serializeAs="String">
                <value />
            </setting>
            <setting name="TrialExpiryDate" serializeAs="String">
                <value />
            </setting>
            <setting name="CloudServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="CloudEcoPOS" serializeAs="String">
                <value />
            </setting>
            <setting name="CloudEcoPOS_Training" serializeAs="String">
                <value />
            </setting>
            <setting name="CloudBase" serializeAs="String">
                <value>False</value>
            </setting>
        </EcoPOSv2.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelDataReader" publicKeyToken="93517dbe6a4012fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
