<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net452" />
  <package id="ClosedXML" version="0.95.4" targetFramework="net452" requireReinstallation="true" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net452" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net48" />
  <package id="CrystalReports.Engine" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportSource" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.Shared" version="13.0.4003" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.16.0" targetFramework="net452" requireReinstallation="true" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net452" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net452" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net452" />
  <package id="Fody" version="4.0.2" targetFramework="net452" developmentDependency="true" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net452" />
  <package id="FontAwesome.Sharp" version="5.15.4" targetFramework="net452" requireReinstallation="true" />
  <package id="Guna.Charts.WinForms" version="1.0.9" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net48" />
  <package id="ILRepack" version="2.0.18" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net452" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="System.Windows.Forms" version="4.0.0.0" targetFramework="net452" />
</packages>